.btn {
  margin: 10px;
  width: 100px;
  height: 130px;
  display: inline-block;
}
.btn > img {
  width: 100%;
  height: 80%;
  border-radius: 100%;
  object-fit: cover;
}
.title {
  text-align: center;
  font-size: 15px;
  margin-top: 12px;
}
